/* @import url("/style/page-chart.css"); */
/* this causes flicker, if double-imported  */
/* :root, html  {
} */
/*
fieldset {
    border: var( --form-border-1 );
    font-size: 0.8rem;

    */

    /* margin: .8rem 0.3rem;
    padding: .5rem 0.5rem; */

