/* @import url("/style/base-theme.css"); */
@import url("/style/page-chart.css");

/* about: 2024-09-08 Inline css specific to '/docs/docker/list-repos.html' */
:root {
    --page-div-border-color: #3c3f51;
    --page-div-outline: 2px solid var(--page-div-border-color);
}

/* body { */
/*
    margin: 0 0;
    padding: 0 0 ;
        */
/* } */
/* body > * { */
/*
    margin-left: 0;
    padding: 0 2.5vw;
    outline: 2px solid blue;
        */

/* } */
/*
#mainFormContent > *{

    outline: 2px solid purple;
    */
/* justify-content: center;
    align-items: center; */
/* } */
#mainFormContent {
    display: none;
    border: var(--border-table-outline);
}

#rootBodyContents {
    /*
    width: fit-content;
    width: max-content;
    width: auto;
    margin: 1rem auto;
        */
    /*
        margin-left: 10%;
        margin-left: 0;
        margin-right: 10%;
        */
    border: 2px solid #3c3f51;
}

#repoListParent {
    --outline-style: 3px solid rgba(250, 128, 114, 0.315);
    /*
    --outline-style: none;
    outline: var( --page-div-outline );
    */
    outline: var(--outline-style);


    /* width: 80%; */
    /* margin: 2rem auto; */
    margin: 0.8rem 0.8rem;
    /*
    margin: 1rem auto;
    */
}

#repoListParent {
    --outline-style: 2px solid salmon;
    /*
    */
    --outline-style: none;
    outline: var(--outline-style);
}

#repoListParent>table {
    --outline-style: 2px solid green;
    /*
    */
    --outline-style: none;
    outline: var(--outline-style);
}

#repoListParent ul {}

#repoListParent li {
    --outline-style: 1px solid orange;
    list-style: none;
    /*
    */
    --outline-style: none;
    outline: var(--outline-style);
}

div.flexHorizParent a:hover {
    color: #344694;
}

div.flexHorizParent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    gap: 0.1rem;
    /* outline: 2px solid blue; */
}

div.flexHorizParent>* {
    /* outline: 2px solid orange; */
}

td {
    padding: 0.6rem;
}

.horizontalMenuBar a:hover {
    color: #344694;
}

.horizontalMenuBar {
    display: flex;
    gap: 10px;
    padding: 10px;
}

#repoListParent {
    color: var(--header-fg-1-dim);
    color: var(--header-fg-1);
    color: var(--primary-fg);
}

#repoListParent tr:hover {
    color: var(--primary-bg-4);
}

/* hover glow */
#repoListParent tr:hover {
    color: var(--primary-bg-4);
    /* animation: .3s infinite alternate glow; */
    animation: .3s ease-in 1 glow;
}

@keyframes glow {
    from {
        color: var(--primary-fg);
    }

    to {
        color: var(--primary-bg-4);
    }
}

/*  error message states. hidden by default */
#cloneRepo-url-choice {
    &.stateFailed {
        outline: 2px solid var(--red)
    }
}

#cloneRepo-errorStatus {
    color: var(--red);
    display: none;

    &.stateFailed {
        display: inline-flex;
    }
}

#cloneRepo-form div.row {
    margin-block: 1.8ch;

}

input {
    /*     margin-inline-start: 10px; */
    /*     margin-inline-end: 10px; */
    margin-inline-end: 0;
}

form>* {
    margin-inline-start: 10px;
}
